<div id="<%= dom_id recipe %>">
  <p>
    <strong>User:</strong>
    <%= recipe.user_id %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= recipe.country %>
  </p>

  <p>
    <strong>External:</strong>
    <%= recipe.external %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= recipe.photo %>
  </p>

  <p>
    <strong>Published at:</strong>
    <%= recipe.published_at %>
  </p>

</div>
